@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
html {
  overflow-y: scroll;
}
body {
  position: absolute;
  align-items: center;
  justify-content: center;
  max-height: max-content;
  background: #ffffff;
}

/* navbar css begins here */
nav {
  z-index: 100;
  background: #bdfffd;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
}

label.logo {
  align-items: flex-start;
  font-size: 35px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}
nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

nav a.active,
a:hover {
  border: 1px solid rgb(0, 0, 0);
  transition: 0.5s;
}

/* for responsive navbar */
.checkbtn {
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}

.avt {
  position: absolute;
  width: 60px;
  right: 2px;
}

/* next section starts here */

.second {
  height: 75vh;
  background: #9ffff5;
}
.sec__img {
  margin: auto;
  padding: 80px;
  width: 40%;
}
.container {
  display: flex;
}

.head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px;
  top: -100px;
}

.head h2 {
  font-size: 58px;
  text-align: center;
  font-weight: 500;
  padding-right: 100%;
}
.head h3 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  padding-right: 100%;
  width: max-content;
}

/* typing animation */
.animation {
  position: relative;
  right: 23px;
}
.animation .text-hold {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 400;
}
.animation .text-flow {
  margin-left: 25px;
  height: 90px;
  line-height: 80px;
  overflow: hidden;
}
.text-flow li {
  list-style: none;
  color: #5e6973;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  top: -10%;

  animation: slide 12s steps(4) infinite;
}
/* animation for step up */
@keyframes slide {
  100% {
    top: -360px;
  }
}
.text-flow li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.text-flow li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  height: 100%;
  width: 100%;
  background: #9ffff5;
  border-left: 2px solid #000000;
  animation: typing 3s steps(10) infinite;
}
/* animation for steps */
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* About US section begins here */
.third__container {
  padding: 40px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.third img {
  width: 30%;
  border: 1px solid black;
  border-radius: 50%;
}
.third h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
}
.wrap {
  padding: 20px;
  width: 50%;
  margin: auto;
}
.wrap span {
  font-size: 22px;
  padding: 60px;
  width: 50%;
}
/* experience section begins here */
.fourth {
  background: #6abea7;
}

.centered {
  background: #6abea7;
}
.fourth h1 {
  background: #6abea7;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

.exp__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  margin: auto;
  width: 90%;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 24%;
  border: 2px solid rgba(34, 33, 33, 0.5);
  height: 30vh;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
}

.card i {
  margin: auto;
  padding-bottom: 40px;
}
.card span {
  align-items: center;
  margin: auto;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 38px;
}

#ind span {
  text-align: center;
  margin: auto;
}

.card i:hover {
  color: #9ffff5;
  text-shadow: 0 0 15px #030b1d;
  transition: all 0.5s ease;
  transform: scale(1.5);
}

/* Project section begins here */
.fifth {
  background: #ffffff;
}

.fifth h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

.cards {
  display: flex;
}
.cards li {
  margin: auto;
  padding: 60px;
  width: 23%;
}

.howercard {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 40px;
  background-color: #fff;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.howercard:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: 40px 0 0 0;
  background-color: #fff;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.howercard:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #000000;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* skills section begins here */

.sixth h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
}
.sixth {
  background: #6abea7;
  padding-bottom: 40px;
}

.sixth__container {
  display: flex;
  margin: auto;
  column-gap: 20px;
  justify-content: center;
}
.rr,
.cc {
  display: flex;
  flex-direction: column;
}
.rr span {
  margin: auto;
  font-size: 30px;
}
progress {
  padding: 30px;
  width: 400px;
  margin: auto;
}

/* contact footer starts here */

.seventh__container a,
i {
  color: #000000;
  outline: none;
  border: none;
}

.seventh {
  margin: auto;
  background: #5e6973;
}

.seventh h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
}

.seventh__container {
  margin: auto;
  width: auto;
  display: flex;
  justify-content: space-around;
}

.seventh__container img {
  padding-top: -30px;
  border: 1px solid black;
  border-radius: 80%;
  width: 10%;
}
.social i {
  margin: auto;

  padding-top: 80px;
  padding-left: 80px;
}

.btn {
  padding-top: 65px;
}
button {
  margin: auto;
  width: 180px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
}
.last {
  border: 2px solid black;
  background-color: #31363a;
}
.last h3 {
  text-align: center;
}

/* mobile responsive */

@media (max-width: 500px) {
  /* navbar starts */
  .checkbtn {
    display: block;
    cursor: pointer;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 200vh;
    background: #9ffff5;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;

    margin: 50px 0;
    line-height: 30px;
  }
  a:hover,
  a.active {
    background: none;
    color: #6d71f9;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .avt {
    display: none;
  }
  /* navbar ends */
  /* animation section starts */
  .second {
    margin: auto;
    height: 95vh;
    width: 100%;
  }

  .second h2,
  .second h3 {
    font-size: 1.6em;
  }
  .second span {
    font-size: 0.6em;
  }

  .sec__img {
    margin: auto;
    width: 80%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .animation {
    position: relative;
    top: -30px;
    text-align: center;
  }

  .text-flow {
    position: relative;
    left: 1px;
    top: 10px;
    font-size: 0.8em;
  }

  /* animation section ends */

  /* About me section */
  .third {
    margin: auto;
  }

  .third__container {
    margin: auto;
    height: 70vh;
    width: 100%;
  }
  .third__container span {
    position: relative;
    margin: auto;
    top: -10px;
    padding: 1px;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
  }

  .third__container img {
    position: relative;
    top: -40px;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 50%;
    padding: 40px;
  }
  /* about me ends */

  /* experience starts here */
  .exp__grid {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 40px;
  }

  /* experience ends here */
  .fifth {
    background: #ffffff;
    width: 100%;
    height: 100%;
  }

  .cards li {
    width: 2%;
    height: 100%;
    background: #ffffff;
    padding: 50px;
  }

  /* skills starts here */
  .sixth {
    margin: auto;
    padding: 40px;
  }
  /* skills ends here */

  /* contacts starts here */
  .seventh {
    margin: auto;
    width: 100%;
  }
  .seventh__container {
    padding-bottom: 6px;
    display: flex;
  }
  .seventh__container img {
    display: none;
  }

  .social {
    margin: auto;
    padding: 1px;
  }
  .social i {
    padding: 1px;
    margin: auto;
  }
  .btn {
    margin: auto;
    padding: 1px;
  }
  /* Contacts Ends here */
}

/* big tabs/ mini laptops responsive */

@media (max-width: 1024px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }

  #check:checked ~ .text-flow li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;

    border-left: 2px solid #000000;
    animation: typing 3s steps(10) infinite;
    background: #272848;
  }
  /* navbar starts */

  /* navbar ends */
  /* animation section starts */
  .second {
    margin: auto;
    height: 75vh;
    width: 100%;
  }

  .second h2,
  .second h3 {
    font-size: 1.6em;
  }
  .second span {
    font-size: 0.6em;
  }

  .sec__img {
    margin: auto;
    width: 80%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .animation {
    position: relative;
    top: -30px;
    right: 28px;
  }

  .text-flow {
    position: relative;
    left: 1px;
    top: 10px;
    font-size: 0.8em;
  }

  /* animation section ends */

  /* About me section */
  .third {
    margin: auto;
  }

  .third__container {
    margin: auto;
    height: 70vh;
    width: 100%;
  }
  .third__container span {
    position: relative;
    margin: auto;
    top: -10px;
    padding: 1px;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
  }

  .third__container img {
    position: relative;
    top: -40px;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 50%;
    padding: 40px;
  }
  /* about me ends */

  /* experience starts here */
  .exp__grid {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .fifth {
    height: max-content;
    margin: auto;
    width: 100%;
  }

  .fifth ul {
    width: 100%;
    margin: auto;
    position: relative;
    left: 10px;
  }
  .fifth li {
    width: 100%;
  }
  /* skills starts here */
  .sixth {
    margin: auto;
    padding: 40px;
  }
  /* skills ends here */

  /* contacts starts here */
  .seventh {
    margin: auto;
    width: 100%;
  }
  .seventh__container {
    padding-bottom: 6px;
    display: flex;
  }
  .seventh__container img {
    display: none;
  }

  .social {
    margin: auto;
    padding: 1px;
  }
  .social i {
    padding: 1px;
    margin: auto;
  }
  .btn {
    margin: auto;
    padding: 1px;
  }
  /* Contacts Ends here */
}

/* tab responsive */

@media (max-width: 800px) {
  .checkbtn {
    display: block;
    cursor: pointer;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #9ffff5;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  a:hover,
  a.active {
    background: none;
    color: #6d71f9;
  }
  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ .text-flow li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;

    border-left: 2px solid #000000;
    animation: typing 3s steps(10) infinite;
    background: #9ffff5;
  }
  .avt {
    display: none;
  }
  /* animation section starts */
  .second {
    margin: auto;
    height: 75vh;
    width: 100%;
  }

  .second h2,
  .second h3 {
    font-size: 1.6em;
  }
  .second span {
    font-size: 0.6em;
  }

  .sec__img {
    margin: auto;
    width: 80%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .animation {
    position: relative;
    top: -30px;
    right: 128px;
  }

  .text-flow {
    position: relative;
    left: -90px;
    top: 20px;
    font-size: 0.8em;
  }

  /* animation section ends */
}

/* Code ends */
